#allGamesPhtml {
    background : linear-gradient(#0c0c1f, #0B1A30);
    display: flex !important;
    flex-flow: column nowrap !important;
    padding-top: 0 !important;
    height: 100%;
    text-align: center;
}

#allGamesPhtml h1{
    font-family: "Candal";
    color : white;
    font-size: 1.5rem;
}

#allGamesPhtml .fa-arrow-alt-circle-left {
    font-size: 2rem;
    color: orangered;
    transition: all 0.2s;
}

#allGamesPhtml .fa-arrow-alt-circle-left:hover {
    color: yellow;
    cursor: pointer;
}

#allGamesPhtml #top {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 22% 5% 18%;
}

#allGamesPhtml #bottom {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

#allGamesPhtml div div {
    width: 700px;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#allGamesPhtml .gameIcone {
    width: 15%;
    height: 74%;
    border: 2px solid black;
    border-radius: 30px;
    margin: 30px;
    transition: all 0.25s;
    color: black;
    font-size: 2rem;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    outline: none;
}

#allGamesPhtml .gameIcone:hover {
    border: 2px solid rgb(0, 255, 255);
    cursor: pointer;
    box-shadow: 0px 0px 30px black;
    border-radius: 20px;
}

#allGamesPhtml button {
    background-color: black;
}

#allGamesPhtml button[value='dota2'] {
    background-image: url('../img/games_icone/Dota2');
    background-size: 81px;
}

#allGamesPhtml button[value='CS:GO'] {
    background-image: url('../img/games_icone/csgo.jpg');
}

#allGamesPhtml button[value='LeagueOfLegends'] {
    background-image: url('../img/games_icone/leagueIcone.png');
    background-size: 90px;
}

#allGamesPhtml button[value='Overwatch'] {
    background-image: url('../img/games_icone/overwatch.png');
}

#allGamesPhtml button[value='rocketLeague'] {
    background-image: url('../img/games_icone/rocketLeague.png');
    background-size: 100px;
}

#allGamesPhtml button[value='SSBU'] {
    background-image: url('../img/games_icone/smash.png');
    background-size: 90px;
}

#allGamesPhtml button[value='Hearthstone'] {
    background-image: url('../img/games_icone/hearthStone.png');
}

#allGamesPhtml button[value='Starcraft2'] {
    background-image: url('../img/games_icone/Starcraft2.png');
    background-size: 108px;
}

#allGamesPhtml button[value='WorldOfWarcraft'] {
    background-image: url('../img/games_icone/WorldOfWarcraft.png');
    background-size: 90px;
}

#allGamesPhtml button[value='Fifa2020'] {
    background-image: url('../img/games_icone/fifa2020.png');
    background-size: 90px;
}

#allGamesPhtml button[value='Osu'] {
    background-image: url('../img/games_icone/osu.png');
    background-size: 90px;
}

#allGamesPhtml button[value='Warcraft3-reforged'] {
    background-image: url('../img/games_icone/war3.png');
    background-size: 100px;
}

@media screen and (max-width: 425px) {
    #allGamesPhtml .gameIcone {
        width: 26%;
        height: 126%;
    }
}