#inviteToTeam {
    background : linear-gradient(#0c0c1f, #0B1A30);
    min-height: 950px;
    text-align: center;
    padding-top: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#inviteToTeam h1 {
    color: white;
    display: flex;
    flex-flow: column;
}

#inviteToTeam a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 160px;
    margin: 1%;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.2s;
}

#inviteToTeam a:hover {
    box-shadow: 1px 1px 35px #003699;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {

    #inviteToTeam a {
        width: 20%;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1024px) {

    #inviteToTeam a {
        width: 25%;
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {

    #inviteToTeam a {
        width: 25%;
        font-size: 2.3rem;
    }

    body {
        background-color: #0B1A30;
        background-size: 0rem;
    }
}

@media screen and (max-width: 425px) {

    #inviteToTeam a {
        width: 34%;
        height: 200px;
        font-size: 3rem;
    }

    body {
        background-color: #0B1A30;
        background-size: 0rem;
    }
}