#inviteToTeam {
    background : linear-gradient(#0c0c1f, #0B1A30);
    min-height: 950px;
    text-align: center;
    padding-top: 7%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#inviteToTeam h1 {
    color: white;
    display: flex;
    flex-flow: column;
}

#inviteToTeam a {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 160px;
    margin: 1%;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.2s;
}

#inviteToTeam a:hover {
    box-shadow: 1px 1px 35px #003699;
    border-radius: 10px;
    cursor: pointer;
}