#onePlayerPhtml {
    background : linear-gradient(#0c0c1f, #0B1A30);
    min-height: 950px;
    padding-top: 5%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

#onePlayerPhtml h1 {
    color: white;
    font-size: 2.6rem;
}

#onePlayerPhtml h2 {
    color: rgb(0, 255, 255);
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}

#onePlayerPhtml h3 {
    font-size: 1.7rem;
    color: white;
}

#onePlayerPhtml p {
    font-size: 1rem;
}


#onePlayerPhtml > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 96%;
    margin: 2%;
    margin-left: 3%;
}

#onePlayerPhtml #flash {
    width: 350px;
    display: block;
    background-color: rgb(0, 255, 255);
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 14px;
}

#onePlayerPhtml #comment {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 255, 255);
}

#onePlayerPhtml #comment form {
    width: 75%;
}

#onePlayerPhtml #comment form input {
    background-color: black;
    color: rgb(0, 255, 255);
    width: 100%;
    height: 37px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 11px;
    margin-bottom: 4.7%;
    padding-left: 15px;
    outline: none;
}

#onePlayerPhtml div > div:not(.inviteTeam):not(.myTeam):not(.LFTdiv):not(#lftTitle){
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 255, 255);
}

#onePlayerPhtml #seekTeam {
    width: 24%;
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

#onePlayerPhtml #seekTeam h3 {
    font-size: 1.6rem;
}

#onePlayerPhtml #seekTeam img {
    width: 50%;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10%;
}


#onePlayerPhtml #upTourn {
    width: 35%;
}

#onePlayerPhtml .UpTournament {
    color: white;
    border: 1px solid rgb(0, 255, 255);
    box-shadow: 1px 1px 25px #000dff;
    border-radius: 10px;
    margin: 8% 5% 8%;
    padding: 2%;
    font-size: 1.2rem;
    transition: all 0.2s;
}

#onePlayerPhtml .UpTournament:hover {
    background-color: rgb(0, 255, 255);
    color: black;
    font-weight: bolder;
    box-shadow: 1px 1px 10px rgb(0, 255, 255);
}

#onePlayerPhtml #teams {
    width: 32%;
}

#onePlayerPhtml button {
    width: 30%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 25px #000dff;
    border : 1px solid blue;
    border-radius: 10px;
    outline: none;
    transition: all 0.15s;
}

#onePlayerPhtml button:hover {
    background-color: rgb(0, 230, 230);
    box-shadow: 1px 1px 25px #0059ff;
    color: rgb(10, 10, 10);
    width : 33%;
    cursor: pointer;
}

#onePlayerPhtml .team {
    color: white;
    border: 1px solid rgb(0, 255, 255);
    box-shadow: 1px 1px 25px #000dff;
    border-radius: 10px;
    margin: 15% 5% 15%;
    padding: 4%;
    font-size: 1.2rem;
    transition: all 0.2s;
}

#onePlayerPhtml .team:hover {
    background-color: rgb(0, 255, 255);
    color: black;
    font-weight: bolder;
    box-shadow: 1px 1px 10px rgb(0, 255, 255);
}

#onePlayerPhtml a {
    text-decoration: none;
}

#onePlayerPhtml .inviteTeam {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#onePlayerPhtml .inviteTeam i {
    font-size: 1.5rem;
}

#onePlayerPhtml .inviteTeam a:hover {
    box-shadow: 1px 1px 10px rgb(0, 255, 255);
}

#onePlayerPhtml .inviteTeam a:nth-child(2) {
    color: rgb(0, 255, 255);
    margin-right: 5%;
    margin-left: 5%;
}

#onePlayerPhtml .inviteTeam a:nth-child(3) {
    color: rgb(0, 225, 255);
}

#onePlayerPhtml .inviteTeam a:nth-child(2):hover {
    color: rgb(0, 255, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#onePlayerPhtml .inviteTeam a:nth-child(3):hover {
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#onePlayerPhtml .myTeam {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#onePlayerPhtml .myTeam a:first-child {
    width: 85%;
}

#onePlayerPhtml .myTeam a:nth-child(2) {
    width: 10%;
}

#onePlayerPhtml .myTeam a i {
    font-size: 1.7rem;
    color: rgb(0, 225, 255);
}

#onePlayerPhtml .myTeam a i:hover {
    color: red;
}

#onePlayerPhtml .LFTdiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#onePlayerPhtml .LFTdiv i {
    color: rgb(0, 225, 255);
    font-size: 1.7rem;
    margin-left: 70%;
    margin-bottom: 100%;
}

#onePlayerPhtml .LFTdiv a i:hover {
    color: red;
}

#onePlayerPhtml .fa-plus-square {
    color: rgb(0, 225, 255);
    font-size: 1.7rem;
}

#onePlayerPhtml .fa-plus-square:hover {
    color: rgb(0, 255, 0);
}

#onePlayerPhtml #lftTitle {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#onePlayerPhtml #seekTeam .showAddLFT {
    display: block;
    position: relative;
    width: 99.8%;
    /*min-height: 20%;*/
    background-color: black;
    border: 1px solid rgb(0, 225, 255);
}

#onePlayerPhtml #seekTeam .hideAddLFT {
    display: none;
}

#onePlayerPhtml #seekTeam section img {
    width: 45px;
    height: 45px;
}

#onePlayerPhtml #seekTeam section img:hover {
    border: 2px solid rgb(0, 225, 255);
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    #onePlayerPhtml #flash {
        width: 450px;
        font-size: 1.5rem;
    }
    
    #onePlayerPhtml h1 {
        font-size: 3.6rem;
    }

    #onePlayerPhtml h2 {
        font-size: 3.2rem;
    }

    #onePlayerPhtml h3 {
        font-size: 2rem;
    }

    #onePlayerPhtml #seekTeam h3 {
        font-size: 2.2rem;
    }

    /* comment part */
    #onePlayerPhtml #comment p {
        font-size: 2rem;
    }

    #onePlayerPhtml #comment form input {
        height: 85px;
        font-size: 2rem;
    }

    #onePlayerPhtml #comment form input::placeholder {
        font-size: 2rem;
    }

    #onePlayerPhtml .fa-plus-square {
        font-size: 2.5rem;
    }

    #onePlayerPhtml .LFTdiv i {
        font-size: 2.5rem;
    }

    #onePlayerPhtml > div {
        flex-flow: row wrap;
    }

    #onePlayerPhtml #seekTeam {
        width: 48%;
        margin: 0 auto;
        flex-flow: column nowrap;
    }

    #onePlayerPhtml #seekTeam .showAddLFT {
        height: 25%;
    }
    
    #onePlayerPhtml #seekTeam section img {
        width: 75px;
        height: 75px;
    }

    #onePlayerPhtml #upTourn {
        width: 60%;
    }

    #onePlayerPhtml .UpTournament {
        margin: 8% 5% 8%;
        font-size: 1.7rem;
    }

    #onePlayerPhtml button {
        width: 50%;
        height: 70px;
        font-size: 1.5rem;
    }

    #onePlayerPhtml #teams {
        width: 39%;
    }

    #onePlayerPhtml #teams .team {
        font-size: 1.6rem;
    }

    #onePlayerPhtml .team {
        font-size: 1.8rem;
    }

    #onePlayerPhtml .myTeam a i {
        font-size: 2.5rem;
    }

    #onePlayerPhtml .inviteTeam i {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 425px) {
    #onePlayerPhtml h1 {
        font-size: 5rem;
    }
    
    #onePlayerPhtml h2 {
        font-size: 4.2rem;
    }

    #onePlayerPhtml h3 {
        font-size: 4rem;
    }

    #onePlayerPhtml #flash {
        font-size: 2.3rem;
        width: 50%;
    }

    #onePlayerPhtml #comment p {
        font-size: 3rem;
    }

    #onePlayerPhtml #comment form input {
        height: 110px;
        font-size: 3rem;
    }

    #onePlayerPhtml #comment form input::placeholder {
        font-size: 3rem;
    }

    #onePlayerPhtml #seekTeam .showAddLFT {
        height: 30%;
    }

    #onePlayerPhtml #seekTeam section img {
        width: 200px;
        height: 200px;
    }

    #onePlayerPhtml #seekTeam {
        width: 80%;
    }

    #onePlayerPhtml #seekTeam h3 {
        font-size: 3.8rem;
    }

    #onePlayerPhtml .fa-plus-square {
        font-size: 3.5rem;
    }

    #onePlayerPhtml #seekTeam img {
        max-width: 200px;
        max-height: 200px;
    }

    #onePlayerPhtml .LFTdiv i {
        font-size: 4.5rem;
    }

    #onePlayerPhtml .team {
        font-size: 3.8rem;
    }

    #onePlayerPhtml .inviteTeam i {
        font-size: 4.5rem;
    }

    #onePlayerPhtml #upTourn {
        width: 100%;
    }

    #onePlayerPhtml .UpTournament {
        font-size: 2.9rem;
    }

    #onePlayerPhtml button {
        width: 75%;
        height: 120px;
        font-size: 3rem;
    }

    #onePlayerPhtml #teams {
        width: 100%;
    }

    #onePlayerPhtml #teams .team {
        font-size: 3.6rem;
    }

    #onePlayerPhtml .myTeam a i {
        font-size: 4.7rem;
    }
}