#oneTournamentPhtml {
    background : linear-gradient(#0c0c1f, #0B1A30);
    min-height: 950px;
    text-align: center;
    padding-top: 6%;
}

#oneTournamentPhtml h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Open Sans';
    margin-bottom: 4%;
}

#oneTournamentPhtml h2 {
    color: white;
    text-align: left;
    font-weight: bolder;
}

#oneTournamentPhtml #flash {
    width: 350px;
    display: block;
    background-color: rgb(0, 255, 255);
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 14px;
}

#oneTournamentPhtml #info {
    display: flex;
    font-size: 1rem;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 86%;
}

#oneTournamentPhtml form {
    width: 70%
}

#oneTournamentPhtml form button {
    width: 50%;
    height: 40px;
    margin-top: 5%;
    margin-bottom: 12%;
    font-size: 1rem;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 25px #000dff;
    border : 1px solid blue;
    border-radius: 10px;
    outline: none;
    transition: all 0.15s;
}

#oneTournamentPhtml form button:hover {
    background-color: rgb(0, 230, 230);
    box-shadow: 1px 1px 25px #0059ff;
    color: rgb(10, 10, 10);
    width : 65%;
    cursor: pointer;
}

#mainContent {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 5%;
}

#mainContent #bracket {
    display: flex;
    flex-flow: row nowrap;
    width: 73%;
    border: 1px solid rgb(0, 255, 255);
    margin-right: 3%;
    margin-left: 3%;
    background-color: rgba(30, 30, 30, 0.5);
}

#mainContent #bracket ul {
    width: 15%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2%;
    margin-left: 4%;
}

#mainContent #bracket ul a:not(.winIcone) {
    color: white;
    background-color: black;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 1%;
    border: 1px solid rgb(0, 255, 255);
}

#mainContent #bracket ul div:nth-child(even) {
    margin-top: 2%;
}

#mainContent #bracket ul div:nth-child(odd) {
    margin-top: 25%;
}

#mainContent #bracket ul div {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

#mainContent #bracket ul div a {
    color: rgb(0, 255, 255);
    font-size: 1.5rem;
    margin-left: 20%;
}

#mainContent #bracket ul div i:hover {
    color: rgb(0, 255, 0);
}

#mainContent > article {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 19%;
    border: 1px solid rgb(0, 255, 255);
    background-color: rgba(30, 30, 30, 0.5);
}

#mainContent div h2 {
    font-size: 1.2rem;
    border-bottom: rgb(0, 255, 255);
    width: 100%;
}

#mainContent div span {
    margin: 10%;
}

#oneTournamentPhtml ul {
    padding: 0;
    text-align: start;
    width: 65%;
}

#oneTournamentPhtml li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: rgb(0, 255, 255);
    font-size: 1.5rem;
    list-style: none;
}

#oneTournamentPhtml ul a li:hover {
    color: white;
}

#oneTournamentPhtml #bracket ul a li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: white;
    font-size: 1.2rem;
    list-style: none;
    transition: all 0.2s;
}

#oneTournamentPhtml #bracket ul li:hover {
    color: white;
    box-shadow: 10px 0px 1px rgb(0, 255, 255);
    cursor: pointer;
}

#oneTournamentPhtml ul a {
    text-decoration: none; 
}

.round32 {
    width: 12%;
}

.round16 {
    width: 18%;
}

.round8 {
    width: 29%;
}
