body {
    margin : 0;
    font-size: 62.5%;
    background-color: #12122d;
    font-family: "Open Sans", Arial;
    background-image: url('../img/slider/scene1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 255); 
    border-radius: 10px;
}  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ccff; 
}

header { /* top page bar */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px;
    border-bottom: 1px solid rgb(0, 255, 255);
    background-color: #0c0c1f;
}

header > a { /* logo top left */
    margin-left : 20px;
}

.fa-search { /* magniffying glasse icone to the left of form */
    color : rgb(0, 255, 255);
    font-size: 1.4rem;
    margin-right: 10px;
}

header input { /* search bar */
    background-color: black;
    color: rgb(0, 255, 255);
    width: 330px;
    height: 37px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 35px;
    padding-left: 15px;
    /* font-family: Verdana; */
    outline: none;
}

.connectedSearchBar {
    margin-left: 12%;
}

header input::placeholder {
    color: rgb(0, 255, 255);
    text-align: center;
    font-family: "Open Sans";
}

header div { /* flex parent */
    display : flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header div a:not(#headerProfil) { /* login & sign up buttons*/
    margin-right: 30px;
    padding: 10px 24px;
    /*0% 10% 4% 7%*/
    text-decoration: none;
    color: white;
    background: linear-gradient(#272158, #1b72c4);
    border-radius: 4px;
    font-size: 0.9rem;
    border-bottom : 3px solid rgba(0, 0, 0, 0);
    transition: all 0.15s;
}

header div a:hover:not(#headerProfil) { /* login & sign up buttons */
    background: linear-gradient(#272158, #00aeff);
    border-bottom : 3px solid rgb(0, 255, 255);
}

#headerProfil {
    color: rgb(0, 255, 255);
    text-decoration: none;
}

#headerProfil:hover { /* profil icone hover */
    font-size: 2rem;
}

#headerProfil h4{ /* profil icone (if isset($_SESSION)) */
    font-size: 1rem;
}

#headerProfil h4:hover {
    color: white;
}

#divIconeProfil { /* parent container of profil icone */
    margin-right: 4%;
    margin-left: 8%;
}

#disconnect {
    margin: 0% 0% 0% 26%;
}

p {
    color: white;
    font-family: "Open Sans";
}

#flash {
    width: 350px;
    background-color: rgb(0, 255, 255);
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 14px;
}

#flash:hover {
    cursor: pointer;
}

#redFlash {
    width: 35%;
    background-color: rgb(255, 30, 0);
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    margin: 0 auto;
    padding: 15px 10px 15px 10px;
    text-align: center;
    border-radius: 14px;
}

#redFlash:hover {
    cursor: pointer;
}

#arrowMenu { /* le bouton menu */
    position: fixed;
    left: -14px;
    bottom: 75%;
    border: 0;
    border-radius:30px;
    width: 6%;
    height: 35px;
    background-color : #10162F;
    font-weight: bolder;
    font-family: "Open Sans";
    font-size: 1rem;
    color: white;
    border : 1px solid rgb(0, 255, 255);
    outline: none;
    z-index: 1;
    transition: all 0.2s;
}

#arrowMenu:hover {
    background-color: #00ffff;
    box-shadow: 1px 1px 35px #0059ff;/*#000dff*/
    color: black;
    cursor: pointer;
    outline: none;
}

.hideAside { /* class créée pour cacher le menu de navigation (aside) */
    position: fixed;
    color: white;
    bottom: 33%;
    left: -23%;
    transition: all 0.33s;  
}

.showAside { /* class créée pour afficher le menu de navigation (aside) */
    position: fixed;
    color: white;
    bottom: 33%;
    left: -1%;
    transition: all 0.35s;
    z-index: 1;
}

aside nav ul { /* menu aside nav */
    list-style: none;
    height: 380px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#0b1b38, #071620);
    border-right: 1px blue solid;
    border-radius: 30px;
    margin-right: -45%;
    transition: all 0.2s;
}

aside nav ul:hover {
    border-right: 1px rgb(0, 255, 255) solid;
}

aside nav ul a {
    text-decoration: none;
}

aside nav ul a li { /* liste des liens dans la aside nav */
    font-size: 1rem;
    padding: 18px;
    transition : all 0.33s;
    color: white;
}

aside nav ul a li:hover {
    box-shadow: 3px 3px 25px #1b23c0;/*#000dff*/
    padding-left: 20px;
    border-radius: 15px;
    /*border-left : 5px solid rgb(0, 26, 255);*/
    border-left: 1px solid rgb(0, 255, 255);
    border-right: 1px solid rgb(0, 255, 255);
    cursor: pointer;
}


.fa-discord, .fa-envelope {
    font-size : 30px;
    color : rgb(0, 255, 255);
    padding-right: 10px;
}


.fa-arrow-alt-circle-up {
    font-size: 2rem;
    color: orangered;
    transition: all 0.2s;
}

@media screen and (max-width: 1600px) {
    #arrowMenu {
        width: 8%;
    }
    
    .showAside {
        bottom: 29%
    }
}


@media screen and (max-width: 1112px) {
    header {
        width: 1112px;
    }
    
    #divIconeProfil #headerProfil{
        margin-right: -14%;
    }
    
    main {
        width: 1112px;
    }
}

@media screen and (min-width: 1024px) {
    .showAside {
        width: 100px;
    }
}

@media screen and (max-width: 1024px) {
    .showAside {
        bottom: 35%;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-flow: column wrap;
    }
    
    header input {
        width: 600px;
        height: 65px;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
        margin-bottom: 8%;
        margin-left: -10%;
    }

    header img {
        width: 340px;
        height: 105px;
    }

    header #headerProfil h4 {
        font-size: 2rem;
    }

    header div a:not(#headerProfil) {
        font-size: 2rem;
    }

    #redFlash {
        font-size: 1.8rem;
    }

    .fa-search {
        font-size: 2rem;
        margin-left: -12%;
    }

    #arrowMenu {
        width: 10%;
        height: 50px;
        font-size: 1.5rem;
        left: -17px;
    }
    
    .showAside {
        bottom: 43%;
    }
    
    aside nav ul a li {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 425px) {
    header {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 366px;
        height: 116px;
    }

    header a:not(#signUp):not(#login) {
        width: 150px;
        height: 60px;
        font-size: 2rem;
        margin: 0% 22% 5% -12%;
    }

    header #searchBar {
        margin: 10% 3% 0% 0% !important;
    }

    header #searchBar i {
        font-size: 2.9rem;
        margin-left: 0;
    }

    header input {
        width: 850px;
        height: 100px;
        font-size: 3.3rem;
        margin-left: 0;
    }
    
    header div {
        margin: 10% 0% 10% 0%;
    }
    
    header #connectDiv {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        width: 55%;
    }

    header div a {
        width: 150px;
        height: 60px;
        font-size: 2rem !important;
        margin-right: 0px !important;
        text-align: center;
        padding-top: 5% !important;
    }

    header #divIconeProfil {
        width: 64%;
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
    }

    header #divIconeProfil h4 {
        font-size: 2.9rem;
    }

    header #disconnect {
        padding: 0% 22% 5% 0%;
    }

    header div a:not(#headerProfil) {
        padding: 0% 9%  4%  7%;
    }

    #redFlash {
        font-size: 2.4rem;
        width: 50%
    }

    #arrowMenu {
        width: 13%;
        height: 70px;
        font-size: 2.1rem;
        left: -19px;
    }

    .showAside {
        bottom: 47%;
    }

    aside nav ul {
        height: 650px;
    }

    aside nav ul a li {
        font-size: 2rem;
    }
}