body {
    margin : 0;
    font-size: 62.5%;
    background-color: #12122d;
    font-family: "Open Sans", Arial;
    background-image: url('../img/slider/leagueOL.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;/*1632px 1224px*/
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 255); 
    border-radius: 10px;
}  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00ccff; 
}

header { /* top page bar (logo(index.php) / search bar / login signup */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px 15px;
    border-bottom: 1px solid rgb(0, 255, 255);
    background-color: #0c0c1f;
}

header > a { /* logo top left */
    margin-left : 20px;
}

.fa-search { /* magniffying glasse icone to the left of form */
    color : rgb(0, 255, 255);
    font-size: 1.4rem;
    margin-right: 10px;
}

header input { /* search bar */
    background-color: black;
    color: rgb(0, 255, 255);
    width: 330px;
    height: 37px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 35px;
    padding-left: 15px;
    /* font-family: Verdana; */
    outline: none;
}

header input::placeholder {
    color: rgb(0, 255, 255);
    text-align: center;
    font-family: "Open Sans";
}

header div { /* flex parent */
    display : flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header div a:not(#iconeProfil) { /* login & sign up buttons*/
    margin-right: 30px;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
    background: linear-gradient(#272158, #1b72c4);
    border-radius: 4px;
    font-size: 0.9rem;
    border-bottom : 3px solid rgba(0, 0, 0, 0);
    transition: all 0.15s;
}

header div a:hover:not(#iconeProfil) { /* login & sign up buttons */
    background: linear-gradient(#272158, #00aeff);
    border-bottom : 3px solid rgb(0, 255, 255);
}

#profilIcone { /* profil icone (if isset($_SESSION)) */
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url('../img/default_user.jpg');
    background-size : cover;
    transition: all 0.2s;
}

#profilIcone:hover { /* profil icone hover */
    box-shadow: 0px 0px 13px #00e1ff;
}

#divIconeProfil { /* parent container of profil icone */
    margin-right: 3%;
    margin-left: 8%;
}

#disconnect {
    margin: 0% 0% 0% 26%;
}

p {
    color: white;
    font-family: "Open Sans";
}


#arrowMenu { /* le bouton menu */
    position: fixed;
    left: -14px;
    bottom: 75%;
    border: 0;
    border-radius:30px;
    width: 6%;
    height: 35px;
    background-color : #10162F;
    font-weight: bolder;
    font-family: "Open Sans";
    font-size: 1rem;
    color: white;
    border : 1px solid rgb(0, 255, 255);
    outline: none;
    z-index: 1;
    transition: all 0.2s;
}

#arrowMenu:hover {
    background-color: #00ffff;
    box-shadow: 1px 1px 35px #0059ff;/*#000dff*/
    color: black;
    cursor: pointer;
    outline: none;
}

.hideAside { /* class créée pour cacher le menu de navigation (aside) */
    position: fixed;
    color: white;
    bottom: 33%;
    left: -23%;
    transition: all 0.33s;  
}

.showAside { /* class créée pour afficher le menu de navigation (aside) */
    position: fixed;
    color: white;
    bottom: 33%;
    left: -1%;
    transition: all 0.35s;
    z-index: 1;
}

aside nav ul { /* menu aside nav */
    list-style: none;
    height: 380px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(#0b1b38, #071620);
    border-right: 1px blue solid;
    border-radius: 30px;
    margin-right: -35%;
    transition: all 0.2s;
}

aside nav ul:hover {
    border-right: 1px rgb(0, 255, 255) solid;
}

aside nav ul a {
    text-decoration: none;
}

aside nav ul a li { /* liste des liens dans la aside nav */
    font-size: 1rem;
    padding: 18px;
    transition : all 0.33s;
    color: white;
}

aside nav ul a li:hover {
    box-shadow: 3px 3px 25px #1b23c0;/*#000dff*/
    padding-left: 20px;
    border-radius: 15px;
    /*border-left : 5px solid rgb(0, 26, 255);*/
    border-left: 1px solid rgb(0, 255, 255);
    border-right: 1px solid rgb(0, 255, 255);
    cursor: pointer;
}


.fa-discord, .fa-envelope {
    font-size : 30px;
    color : rgb(0, 255, 255);
    padding-right: 10px;
}


.fa-arrow-alt-circle-up {
    font-size: 2rem;
    color: orangered;
    transition: all 0.2s;
}

/*____________________________________________________
///////////////   START home.phtml  /////////////////
homeNav        --> ajax nav for all pages
homeContentNav --> ajax nav only (creat / find / team / family)
explain        --> explain part at the bottom of page
transitioning  --> class for css translation between homeNav  
____________________________________________________*/

#homeNav {
    background : linear-gradient(#0c0c1f, #0B1A30);
    width: 100%;
    height: 1300px;
    border-bottom: 2px solid rgb(0, 255, 255);
    
}


#homeContentNav{ /* ajax navigator (first half of the page) */
    background : linear-gradient(#0c0c1f, #0B1A30);
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: inherit;
    text-align: center;
}

#homeContentNav p { /* all texte in nav*/
    font-family: "Candal";
    color : white;
    font-size: 1rem;
    padding: 2% 8% 2%;
    width: 75%;
}

#homeContentNav p:hover { /* hover all texte in nav */
    cursor : default;
}

#homeContentNav div { /* binomial functionalities in nav ajax ((creat + find) && (team + family)*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}


#homeContentNav div article { /* all functionalities in nav ajax (creat + find + team + family) */
    display : flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 23%;
    padding-bottom: 1%;
    border-radius: 44px;
    border-left: 1px blue solid;
    border-right: 1px blue solid;
    transition: all 0.3s;
}

#homeContentNav div article:hover { /* hover big square functionalities */
    border-left: 1px #00ffff solid;
    border-right: 1px #00ffff solid;
    box-shadow: 1px 1px 100px #1c2066;
    background-color: #141438;
}

.fa-hammer, .fa-eye, .fa-users, .fa-home{ /* big icone */ 
    width : 180px;
    height : 145px;
    font-size : 6.5rem;
    color : #00b7ff;
    margin-bottom: -40px;
}


#homeContentNav button:not(#helpBut){ /* creat / find / team / family   buttons*/
    border: 0px;
    width: 175px;
    height: 65px;
    border-radius: 50px;
    color: white;
    font-size: 1.3rem;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 25px #000dff;
    border: 1px solid blue;
    transition: all 0.2s;
}

#homeContentNav button:hover:not(#helpBut):not(#famBut) { /* creat / find / team / family buttons hover*/
    background-color: rgb(0, 230, 230);
    box-shadow: 1px 1px 25px #0059ff;
    color: black;
    width : 210px;
    cursor: pointer;
}

#homeContentNav #famBut:hover {
    background-color: rgb(87, 87, 87);
    box-shadow: none;
}

#homeContentNav #helpBut { /* help button wich on click permit to scroll to the bottom */
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 34px;
    padding: 0;
    outline: none;
}

.fa-question-circle {
    font-size: 1.7rem;
    color: orangered;
    transition: all 0.2s;
}

#homeContentNav #helpBut:hover {
    cursor: pointer;
}

#homeContentNav #helpBut:hover :first-child {
    color: yellow;
}

#homeExplain { /* home_explain.phtml */
    background : linear-gradient(#0B1A30, #0a1c31);
    border-top: 2px solid rgb(0, 255, 255);
    margin-top: 17%;
}

#homeExplain p {
    font-family: "Candal";
    color : white;
    font-size: 1rem;
    padding: 2% 8% 2%;
    width: 75%;
}

#homeExplain p:hover {
    cursor : default;
}

#homeExplain article {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#homeExplain article i {
    font-size: 3.5rem;
    padding-bottom: 2%;
    width: auto;
    height: auto;
}

#homeExplain div {
    padding : 7% 5% 3% 14%;
}

#upButDiv {
    padding: 0 !important;
    padding-bottom: 2% !important;
    text-align: center;
}

#homeExplain #upBut { /* the up button wich on click permit to scroll to the bottom */
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 34px;
    padding: 0;
    outline: none;
    padding: 0;
}

#homeExplain #upBut:hover {
    cursor: pointer;
}

#homeExplain #upBut:hover :first-child {
    color: yellow;
}

.transitioningIn { /* translating from Right to Middle (load content) */
    transition-duration: 1s;
    transform: translate(690px);
}

.transitioningOut { /* translating from Middle to the Left (hide content) */
    transition-duration: 1s;
    transform: translate(-820px);
}

/* next code concern phtml files included with ajax */

/*______________________________________________
            START homeContent.phtml
            ( if needed for a return to home page (ajaxed) after fiew interaction with nav)
________________________________________________*/

/*______________________________________________
            START allGames.phtml
________________________________________________*/
#allGamesPhtml {
    background : linear-gradient(#0c0c1f, #0B1A30);
    display: flex !important;
    flex-flow: column nowrap !important;
    padding-top: 0 !important;
    height: 100%;
    text-align: center;
}

#allGamesPhtml p{
    font-family: "Candal";
    color : white;
    font-size: 1.5rem;
}

#allGamesPhtml .fa-arrow-alt-circle-left {
    font-size: 2rem;
    color: orangered;
    transition: all 0.2s;
}

#allGamesPhtml .fa-arrow-alt-circle-left:hover {
    color: yellow;
    cursor: pointer;
}

#allGamesPhtml #top {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 18%;
}

#allGamesPhtml #bottom {
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
}

#allGamesPhtml div div {
    width: 700px;
    height: 130px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#allGamesPhtml .gameIcone {
    width: 15%;
    height: 74%;
    border: 2px solid black;
    border-radius: 30px;
    margin: 30px;
    transition: all 0.25s;
    color: black;
    font-size: 2rem;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    outline: none;
}

#allGamesPhtml .gameIcone:hover {
    border: 2px solid rgb(0, 255, 255);
    cursor: pointer;
    box-shadow: 0px 0px 30px black;
    border-radius: 20px;
}

/*______________________________________________
            START findFamily.phtml
________________________________________________*/

#familyPhtml p {
    font-family: "Candal";
    color : white;
    font-size: 1rem;
    margin: 0;
}


/*______________________________________________
            START creatTurnament.phtml
________________________________________________*/
#createTournamentPhtml {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5% 0% 5%;
    margin-bottom: 15%;
    padding-top: 5%;
}

#createTournamentPhtml .fa-arrow-alt-circle-left {
    font-size: 2rem;
    color: orangered;
    margin-right: 50%;
    transition: all 0.2s;
}

#createTournamentPhtml .fa-arrow-alt-circle-left:hover {
    color: yellow;
    cursor: pointer;
}

#createTournamentPhtml h2 {
    font-size: 1rem;
    color: rgb(0, 255, 255);
}

#createTournamentPhtml ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 11px;
    margin-bottom: 24%;
}

#createTournamentPhtml form {
    text-align: center;
}

#createTournamentPhtml ul li{
    margin: 10% 3%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#createTournamentPhtml #date input {
    margin-right: 1%;
}

#createTournamentPhtml #date label {
    font-size: 1rem;
    color: rgb(0, 255, 255);
    font-weight: bolder;
}

#createTournamentPhtml input:not(#solo):not(#asTeam):not(#large):not(#medium):not(#small) {
    background-color: black;
    color: rgb(0, 255, 255);
    width: 330px;
    height: 37px;
    border: 1px solid rgb(0, 255, 255);
    border-radius: 11px;
    margin-bottom: 15%;
    padding-left: 15px;
    outline: none;
}

#createTournamentPhtml #solo, #createTournamentPhtml #asTeam, #large, #medium, #small {
    width: 25px;
    height: 25px;
}

#createTournamentPhtml #date ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#createTournamentPhtml #date ul input{
    width: 50px;
}

    #createTournamentPhtml input::placeholder {
    color: rgb(0, 255, 255);
    text-align: center;
    font-size: 1.4rem;
}

#createTournamentPhtml input[type="text"] {
    color: rgb(0, 255, 255);
    font-size: 1.4rem;
}

#createTournamentPhtml fieldset {
    border: 0;
}

#createTournamentPhtml label {
    color: rgb(0, 255, 255);
    font-size: 1.2rem;
}

#createTournamentPhtml button {
    border: 0px;
    width: 175px;
    height: 65px;
    border-radius: 50px;
    color: white;
    font-size: 1.3rem;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 25px #000dff;
    border: 1px solid blue;
    transition: all 0.2s;
}

#createTournamentPhtml button:hover {
    background-color: rgb(0, 230, 230);
    box-shadow: 1px 1px 25px #0059ff;
    color: black;
    width : 210px;
    cursor: pointer;
}

#createTournamentPhtml #helpBut { /* the help button to scroll to the bottom */
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 34px;
    padding: 0;
    outline: none;
    box-shadow: none;
    margin-top: 4%;
}

#createTournamentPhtml #helpBut :first-child:hover {
    color: yellow;
}

#createExplain  {
    display: flex !important;
    flex-flow: column wrap !important;
    justify-content: center !important;
    padding-top: 2%;
    padding-bottom: 2%;
}

#createExplain p {
    margin-left: 10%;
}

#createExplain p span {
    font-size: 2rem;
    margin-right: 3%;
}

#createExplain i {
    font-size: 1.9rem !important;
}

/*______________________________________________
            START functionsTeam.phtml
________________________________________________*/
#functionTeamPhtml {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#functionTeamPhtml nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 800px;
    margin: auto;
}

#functionTeamPhtml button {
    width: 200px;
    height: 80px;
    font-size: 1.3rem;
    font-weight: bolder;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 25px #000dff;
    border : 1px solid blue;
    border-radius: 50px;
    outline: none;
    transition: all 0.2s;
}

#functionTeamPhtml button:hover {
    background-color: rgb(0, 230, 230);
    box-shadow: 1px 1px 25px #0059ff;
    color: black;
    width : 250px;
    outline: none;
    cursor: pointer;
}

#functionTeamPhtml .fa-arrow-alt-circle-left {
    font-size: 2rem;
    color: orangered;
    transition: all 0.2s;
    float: left;
    position: relative;
    top: 150px;
    margin-right: 40%;
    margin-bottom: -4%;
}

#functionTeamPhtml .fa-arrow-alt-circle-left:hover {
    color: yellow;
    cursor: pointer;
}

/*______________________________________________
            START ladder.phtml
________________________________________________*/

#ladderExplain { /* div regroupant les deux .mainExplain*/
    background : linear-gradient(#0b2038, #0a1c31);
    border-top: 2px solid rgb(0, 255, 255);
    margin-top: 17%;
}

.ladderExplainDiv {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 7% 1% 7% 8%;
}

.ladderExplainDiv p{
    font-size: 1.2rem;
    line-height: 175%;
    text-align: center;
    width: 85%;
}

.ladderExplainDiv div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
